body {
    margin: auto;
    background-color: rgb(40, 100, 20);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

#página {
    padding: 50px 100px;
    background-color: white;
    height: 100vh;
}

#título {
    text-align: center;
}

#partedecima {
    text-align: center;
    font-size: large;
}

#partedecima img {
    width: 512px;
    height: 288px;
}

#partedecima p {
    margin: 25px 0;
}

#exposição {
    display: flex;
    align-content: space-between;
}

#exposição img {
    height: 150px;
    width: 150px;
}